$primaryM: #549489;
$primaryL: rgb(176, 202, 207);
$primaryD: #40746b;
$secondaryM: #547e9c;
$secondaryL: #75abd2;
$secondaryD: #121d25;
$validM: #42c589;
$validL: #73d8aa;
$validD: #2a9d69;
$unvalidM: #ff8456;
$unvalidL: #ffa787;
$unvalidD: #e36a3d;
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Source+Code+Pro:wght@600&display=swap");

body {
  min-height: 100vh;
  // background-color: $secondaryD;
  background-image: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.7)),
    url("forest.png");
  background-size: cover;
  overflow: hidden;
  scroll-behavior: smooth;
}

.sidemenuContainer {
  flex-shrink: 0;
  padding: 5vh 1vw;
  nav {
    height: 100%;

    ul {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 2;
      align-items: center;

      .currshadow {
        z-index: 2;
        position: absolute;
        display: block;
        width: 5vw;
        height: 8vh;
        left: -2vw;
        background: linear-gradient(
          to right,
          rgba($validD, 0.2),
          rgba(0, 0, 0, 0)
        );
        transition: all 0.5s;
      }

      li {
        z-index: 2;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw;
        cursor: pointer;
        svg {
          width: MIN(5vh, 5vw);
          height: MIN(5vh, 5vw);
          fill: #fff;
          transition: all 0.5s ease-in-out;
        }
        &::after {
          content: "";
          //   position: absolute;
          //   top: 0;
          //   right: 0;
          //   bottom: 0;
          //   left: -2vw;
          //   display: none;
          //   padding-right: 2vw;
          //   height: 100%;
          //   width: 100%;
          //   background: linear-gradient(
          //     to right,
          //     rgba($validD, 0.2),
          //     rgba(0, 0, 0, 0)
          //   );
        }
        &:hover {
          svg {
            fill: $primaryM;
            transform: scale(1.2);
          }
        }
        &.active {
          svg {
            fill: $validD;
            transform: scale(1.1);
          }
          &::after {
            display: block;
          }
          &:hover {
            fill: $validD;
            transform: unset;
          }
        }
      }
      .shadow {
        svg {
          fill: $primaryD;
          transition: all 0.2s ease-in;
        }
        width: MIN(3vh, 3vw);
        height: MIN(3vh, 3vw);
        z-index: 1;
        position: absolute;
        opacity: 1;
        text-align: center;
        font-size: MIN(2vw, 10vh);
        transition: opacity 0.2s ease-out, width 0.2s ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -1vw;
        //padding-left: 5vw;
      }
      .text {
        position: absolute;
        left: MIN(10vw, 10vh);
        opacity: 1;
        color: $primaryM;
        text-transform: uppercase;
        font-family: "Source Code Pro", monospace;
        font-size: MIN(5vh, 5vw);
        line-height: 2rem;
        padding: 1rem;
        background-color: rgba($color: #000000, $alpha: 0.75);
        border-radius: 20px;
      }
    }

    .icon {
      svg {
        fill: $primaryL;
      }
      transform: scale(1);
    }
    .selIcon:hover {
      svg {
        fill: $primaryM;
      }
      transform: scale(1.2);
    }
    .currIcon {
      svg {
        fill: $validD;
      }
      transform: scale(1.1);
    }

    .icon,
    .currIcon,
    .selIcon:hover,
    svg {
      transition: all 0.2s;
    }
  }
}
